body {
    color: #272635;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #cfcbca;
    border-radius: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8e9f3;
}

.parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.taxSelect {
    margin-left: 60px;
}

#addInput {
    width: 90%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #b1e5f2;
    border: 1px solid #272635;
    border-radius: 5px;
    font-size: 20px;
}